body {
  background: url('https://external-preview.redd.it/niK0rf7mdfgTLI4KDsZ6BT2MT9F4srP7qHsZpTtyHUk.jpg?auto=webp&s=a042c96cdb7a02776649e16707cbbb8a8c916094');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
