.div{
    background: url('https://images4.alphacoders.com/119/thumb-1920-119126.jpg')no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #e6dde6;
    font-size: 28px;
    background: #0e9e97;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9ce6da;
    text-decoration: none;
  }
.welcome{
    color: cornsilk;
    text-align: left;
    padding: 100px;
}